<!DOCTYPE html>
<html lang="zh-TW">
    <body>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/css/style.css' %}">
        {% include 'polls/header.htm' %}
        
        {% if FeatureItemList %}
            <h1>選擇服務</h1>
            <ul>
            {% for Item in FeatureItemList %}
                <li><a href="{% url 'polls:feature' Item.id %}">{{ Item.FeatureText }}</a></li>
            {% endfor %}
            </ul>
            
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
    </body>
</html>
